<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="wrap-center">
        <img src="https://icon-library.com/images/react-icon/react-icon-28.jpg" style="width: 60px;height: auto; display: block;margin: auto;" alt="">
        <h1 style="text-align: center;font-weight: bold;">Login Form</h1>
        <form method="POST" action="/">
            <% if(locals.success == false) { %>
                <div>
                    <label for=""><%= error %></label>
                </div>
            <% } %>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="username">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="password">
            <button id="btnSubmit" class="btn" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>