<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login fail</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="wrap-center">
        <h1 style="font-weight: bold;text-align: center;" id="login-result">Login fail</h1>
        <div class="alert alert__danger">
            We are sorry but your username and password is not correct.
            Maybe you forgot password. Please request to your supervisor
        </div>
        <a href="/">Back to login</a>
    </div>
</body>
</html>